Source: truenas-tui
Section: contrib/python
Priority: optional
Maintainer: Andrew Walker <andrew.walker@truenas.com>
Build-Depends: debhelper-compat (= 12),
               dh-python,
               pybuild-plugin-pyproject,
               python3-all,
               python3-setuptools
Standards-Version: 4.4.0
Homepage: https://github.com/truenas/truenas_tui

Package: python3-truenas-tui
Architecture: all
Depends: python3-truenas-api-client,
         ${misc:Depends},
         ${python3:Depends}
Description: TrueNAS Terminal User Interface
 This package provides a terminal-based (ncurses) management interface
 for TrueNAS, intended as a replacement for midcli --menu.
